.info-box{
   display: block;
   margin: 0;
   margin-left: 24px;
}

.info-box__heading--margin{
   margin: 0;
   margin-bottom: 6px;
}

.info-box__desc--margin{
   margin: 0;
   margin-bottom: 10px;
}
